.container
  %h1 検索できない場合
  %ol 
    %li 
      = link_to 'chrome設定', 'https://support.google.com/chrome/answer/142065?co=GENIE.Platform%3DDesktop&hl=ja'
      を見直す
    %li macの設定で「位置情報を」
    = image_tag 'can_not_search.png', class: "img-fluid"