.container
  .main
    %h2 ユーザーガイド

    %h3  
    %ul 
      %li ユーザー管理機能
      = image_tag 'user.png', class: "img-fluid"

    %h3 借りるユーザー
    %ul 
      %li 車両管理機能
      = image_tag 'car.png', class: "img-fluid"
      %li レンタル機能
      = image_tag 'rental.png', class: "img-fluid"

    %h3 貸すユーザー
    %ul 
      %li 駐車場管理機能
      = image_tag 'park_guide.png', class: "img-fluid"
