.container
  %h2 日時について

  .mt-4
    %h4
      %u 駐車場とレンタル
    %ol 
      %li 登録された駐車場の期間をはみ出すレンタルはできない
      %li レンタル日時、利用停止は重複できない
      %li 駐車場のレンタル期間を短縮できるが、すでにレンタル済みの期間は短縮できない
    = image_tag 'rental_time.png', class: "img-fluid"
  
  .mt-4
    %h4 
      %u キャンセル料金
    %ul 
      %li 当日は金額の100％をキャンセル料として負担
      %li 3日前までの金額の50％をキャンセル料として負担
      %li 4日以上前はキャンセル料がかからず、日時変更も可能
    = image_tag 'cancel_date.png', class: "img-fluid"