// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form-event{
  border: rgb(212, 208, 208) solid 1px;
  background-color: rgba(226, 234, 234, 0.759);
  border-radius: 20px;
}