.user-content{
  background-color: rgb(243, 234, 234);
}

.sub-content{
  height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.new_user{
  background-color: white;
  width: 600px;
  padding: 50px;
  border-radius: 20px;
}

.edit_user{
  background-color: white;
  width: 600px;
  padding: 50px;
  border-radius: 20px;
}